/*
FLEX ᕙ(⇀‸↼‶)ᕗ BOX
*/

body{
  font-family: 'Raleway', sans-serif; /* Test for this*/
  margin: 0;
  padding: 0;
  font-size: 1.35em; /* test for this! Make all sizes em or rem */
  /*test how? (all i know is trial and error.) I don't know how to get the exact font as the starter code (16pt)*/
  background-image: url('../images/concrete_seamless.png');
}

h1{
  font-size: 2em;
  text-align: center;
  line-height: 2;
  /*blah*/ 
}

h2{
  font-size: 1.5em;
  text-align: center;
  padding: 5px;
}

p {
  padding: 0 30px;
}

a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

*:focus{
  border: 2px solid black;
}

footer{
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
}

/*
Keyframes for animation*/

@-webkit-keyframes logo_wiggle{
  0%{
    width: 25px;
  }

  100%{
    width: 420px;
  }

}

@keyframes logo_wiggle{
  0%{
    width: 25px;
  }

  100%{
    width: 420px;
  }

} 

#logo{
  animation-name: logo_wiggle;
  animation-duration: 3s;
}

/* Cards! */
.pricing{
  display: flex;
  min-height: 500px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
    
  /*the issue here had to do with the main axis and the cross
  axis. because I was formerly using flex-direction: column, I
  was screwing up which axis I was justifying or aligning.
  column seemed like the most intuitive option, when in fact
  I needed to do flex-direction: row and wrap the row
  (because the squished mobile view would stack them into a column).*/
}

.card {
  flex-basis: 400px;
  margin: 12px;
  background: #fff;
  border-radius: 7px;
  padding: 0 0 50px 0;
  /*remember that flex-basis is a child property.
  it won't work within a parent property.*/
}

.card > header{
  background: #288080;
  border: 2px solid #45ADAD;
  padding: 20px 0;
  border-radius: 7px 7px 0 0;
}

.card > ul{
  list-style: none;
  padding: 0;
}

.card > ul li {
  width: 90%;
  margin: 20px auto;
}

.card button{
  width: 90%;
  height: 40px;
  border: 0;
  margin-left: 12px;
  border-radius: 7px;
  background: #288080;
  color: white;
  font-size: 1em;
}

.card h3{
  font-size: 4em;
  color: white;
  text-align: center;
}

.card_big{
  -webkit-transform: initial;
          transform: initial;
}

/* Gallery! */

.gallery{
  display: flex;
  flex-flow: row wrap;
  min-height: 600px;
  justify-content: center;
  align-items: center;
  /*I think I got min-height to cooperate by declaring the proper flex-flow.*/
}

.gallery > img{
  border: 10px #50C7C7 solid;
  margin: 10px;
  width: 300px;
}

/* Navbar */
header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-bottom: 3px solid #50C7C7;
  background-image: url('../images/logo.png') no-repeat;
  align-items: center;
  /*align-content: center;*/
  /*I centered the nav links without using their class. Will this be a problem later?*/
}

.nav_links{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding-bottom: 5px;
  /*added padding because the 'y' in 'gallery' was slipping into the line*/
}

.nav_item a{
  color: black;
  text-decoration: none;
}

.nav_item a:hover, a:focus{
  color: #50C7C7;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

@media screen and (min-width: 850px){

  /* Cards! */

  .card {
    flex-basis: 250px;
    /*I think I can safely say I don't understand flex-basis*/
    
  }

  .card_big{
    -webkit-transform: scaleX(1.12);
            transform: scaleX(1.12);
  }

  /* Navbar */

  header{
    flex-direction: row;
    /*I'm pretty sure using only flex-direction works because
    we declared "space-between" earlier*/
  }

  .nav_links{
    flex-direction: row;
  }

  .nav_item a{
    padding: 10px;
  }
}

@media print { 
  
  .card {
    flex-basis: 200px;
  }
  body {
    background: transparent;
  }
  .gallery, #gallery {
    display: none;
  }

  .pricing{
    /*align-items?*/
  }

}

/*don't forget display: none; for print media query!!!*/
/*remember to link the meta viewport for connecting mobile!!!! (link in hw4)*/
